*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-image: url(images.jpg);
    background-size: cover;
    max-width: 100%;
    height: auto;
}

.container{
    background-color: #03014a;
    width: 40%;
    min-width: 500px;
    position: absolute;
    border-style: double;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 0;
    padding-bottom: 60px;
    border-radius: 100px;
}

.timer-Display{
    width: 100%;
    background: #bfbfe8;
    padding: 40px 0;
    font-family: "Roboto", sans-serif;
    color: #0a0a0a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    border-radius: 100px 100px 0 0;
}

.buttons{
    width: 85%;
    margin: 60px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.buttons button{
    padding: 10px 20px;
    background-color: #ffffff;
    color: #141313;
    border: none;
    font-family:  "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 500;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, 
                rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
                rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.buttons button:hover{
    background-color:#03014a ;
    color: #ffffff;
    border: 3px solid #b6b6b6;
    padding: 7px 17px;
    
} 

.buttons {
    width: 85%;
    margin: 60px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.laps{
    text-align: center;
    color: white;
    margin-top: 10px;
    text-decoration: none;
}